* {
  margin: 0;
}

body {
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}

.black {
  background:rgba(0,0,0,0.5);
  width: 60%;
  height: auto;
  /* margin: auto; */
  margin: auto;
  margin-top: 2%;
  border-radius: 25px;
  padding: 5%;
}

header {
  text-align: center;
  color: #00EE00;
}

#logo {
  width: 225px;
  height: auto;
}

h1 {
  padding: 5px;
}

nav {
  background-color: #00EE00;
  text-align: center;
  padding: 15px;
}

main {
  color: white;
}

section {
  margin-top: 20px;
}

.name {
  display: inline-block;
  margin-left: 3px;
}

.name:before {
  content: "\25A0";
}

.via{
  margin: 5px 0px 5px 0px;
}

.carica{
  padding: 15px;
  border-radius: 10px;
  margin-top: 3px;
}

.media {
  background-color: #F4A460;
  width: 40%;
}

.alta {
  background-color: #00CD00;
  width: 60%;
}

.bassa {
  background-color: #CD4F39;
  width: 10%;
}
